---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/AboutMe.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import Education from "../components/Education.astro";
import SectionConst from "../components/SectionContainer.astro";
---

<Layout title="Agustin Calderon">
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
  />
  <main>
    <div
      class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    
	<!-- <SectionConst id="about-me"> -->
      <AboutMe />
    <!-- </SectionConst> -->

    <Skills />
    <Education />
    <!-- <Contact /> -->
  </main>
</Layout>
