<section class="w-full py-12 md:py-24 lg:py-32 border-t" id="education">
  <div class="container px-4 md:px-6">
    <div class="grid gap-6 md:gap-10 lg:grid-cols-2">
      <div class="space-y-2">
        <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl">
          Education 📚
        </h2>
        <p
          class="max-w-[600px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400"
        >
          Here you can find information about my educational background.
        </p>
      </div>
      <div class="grid gap-6 md:gap-10">
        <div class="grid gap-1">
          <h3 class="text-xl font-bold">Analista en Computacion</h3>
          <p class="text-gray-500 dark:text-gray-400">
            Universidad Nacional de Río Cuarto, Córdoba, Argentina 🇦🇷
          </p>
        </div>
        <div class="grid gap-1">
          <h3 class="text-xl font-bold">Licenciatura en Ciencias de la Computacion</h3>
          <p class="text-gray-500 dark:text-gray-400">
            Universidad Nacional de Río Cuarto, Córdoba, Argentina 🇦🇷
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
